server:
  port: 9090

spring:
  application:
    name: ordermgmt-orders
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgre://localhost:5432/courseDb
    username: postgre
    password: 1234
  jpa:
    hibernate:
      ddl-auto: create
    database: postgresql
    database-platform: org.hibernate.dialect.PostgresqlDialect
  config:
    import: optional:configserver:http://localhost:8888

eureka:
  instance:
    hostname: localhost
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka